body{
    font-family: "Anek Latin", sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: 500;
}
/*   в форме убирает контур  */
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 600;
    line-height: 1.2em;    
    color: #000;
}
img{
    display: block;
    max-width: 100%; 
}
ul,li{
    display: block;
    padding: 0;
    margin: 0; 
}
.container{
    width: 1280px;
    margin: 0 auto ;
}
.offer{
    height: 700px;
    background: url("../img/photo_11.png") no-repeat center;
}
.header{
    padding: 30px;
}
.header__set{
    display: flex;
    align-items: center;
}
.menu{
    margin-left: auto;
    display: flex;
    text-align: center;
    gap: 30px;

}
.menu__item_a{
    color: rgb(255, 255, 255,0.6);
    font-size: 18px;
}
.menu__item_a:hover{
    color: #FF5C00;
}
.line{
    width: 2px;
    height:30px;
    background-color: rgb(255, 255, 255,0.2);
    margin: 0 20px;
}
.language__set{
    display: flex;
    align-items: center;
    gap: 10px;
}
.language__en{
    color: rgb(255, 255, 255,0.6);
    font-size: 18px;
}
.popup__btn{
    width: 180px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    background: linear-gradient(to right, #FE8C00, #FF5C00);
    
}
.popup__text{
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.3px;
}
.popup__btn:hover{
    background: #FE8C00;
   
}
.header-menu{
    display: none;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #24130381;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.popup__content {
    position: relative;
    background: #282828;
    max-width: 600px;
    padding: 30px;

}

.close-btn {
    position: absolute;
    top: -50px;
    right: 0.1px;
    width: 50px;
    height: 50px;
    background: linear-gradient(to top right, #FE8C00, #FF5C00);
    clip-path: polygon(0 0, 0 100%, 350% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.close-icon {
    width: 22px;
    height: 23px;
}

.popup__open {
    visibility: visible;
    opacity: 1;
}

.title__form {
    font-weight: 500;
    font-size: 34px;
    letter-spacing: 0.02em;
    color: #fff;
}

.text__form {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    padding: 20px 0;
}

.popup__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    font-family: "Anek Latin", sans-serif;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
    font-size: 17px;
}

.input::placeholder {
    font-family: "Anek Latin", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.02em;
}

.btn__form {
    display: block;
    background: linear-gradient(to right, #FE8C00, #FF5C00);
    padding: 22px 108px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    border: none;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}
.label{
    font-family: "Anek Latin", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    gap: 7px;
    cursor: pointer;
    margin-top: -20px;
}
.custom-checkbox{
    position: relative;
    z-index: -1;
    opacity: 0;
    
}
.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #ffffff;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    cursor: pointer;
}
.custom-checkbox:checked+label::before {
    border-color: #FF5C00;
    background-color: #FF5C00;
    background-image: url("../img/box.png");
}  
.btn__form:hover {
    background: #FE8C00;
}
.offer__set{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}
.offer__wrapp{
    width: 525px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.offer__title{
    font-size: 50px;
    color: #fff;
}
.offer__text{
    color: rgb(255, 255, 255,0.6);
    font-size: 18px;
}
.offer__btn{
    margin-left: 0;
}
.offer__rect{
    position: absolute;
    top: 620px;
    right: 0.1px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 80px;
    height: 80px;
    background-color: #fff;
    clip-path: polygon(0 0, 0 100%, 350% 100%);
}
.offer__rect_img{
    
    width: 26px;
    height: 26px;
}
.partners {
    padding: 30px 0;
    overflow: hidden;
    width: 100%;
}

.partners__slider {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.partners__track {
    display: flex;
    width: max-content;
}

.partners__img {
    width: 100px;
    height: 35px;
    margin: 0 20px;
    flex-shrink: 0;
}
.video{
    position: relative;
    display: flex;
    width: 100%;
    height: 600px;
    cursor: pointer;
}
#fullscreen-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
.video__set {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    z-index: 1; 
    color: #fff; 
}

.video__title {
    text-align: center;
    font-size: 50px;
    color: #fff;
    margin-bottom: 100px;
}

.video__wrapp {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 70px;
    margin-right: auto;
}

.video__wrapp_img {
    width: 60px;
    height: 60px;
    margin-right: 30px;
}
.video__wrapp_text{
    font-size: 34px;
    text-transform: uppercase;
}
.video__mix {
    display: flex;
    text-align: center;
    justify-content: end;
    margin-bottom: 40px;
}

.video__mix_text {
    width: 350px;
    text-align: start;
    font-size: 16px;
    margin-right: 30px;
   
}

.video__mix_btn {
    color: #fff;
    text-transform: uppercase;
}
.video__rect{
    position: absolute;
    top: 520px;
    left: 0.1px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 80px;
    height: 80px;
    background-color: #fff;
    clip-path: polygon(100% 0, 100% 100%, -250% 100%)
}
.industrial{
    padding: 70px 0;
}
.industrial__title{
    width: 632px;
    font-size: 45px;
}
.industrial__set{
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
}


/* Внешний прямоугольник с оранжевым фоном */
.industrial__rect-container {
    position: relative;
    width: 600px;
    height: 200px;
    background-color: #FF5C00; /* Оранжевый цвет */
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 35%, 85% 0); /* Срезаем угол */
}

/* Внутренний прямоугольник с белым фоном */
.industrial__rect-inner {
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px); /* Уменьшаем ширину на 2 пикселя с каждой стороны */
    height: calc(100% - 4px); /* Уменьшаем высоту на 2 пикселя с каждой стороны */
    background-color: #fff; /* Белый цвет */
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 35%, 85% 0); /* Срезаем угол аналогично внешнему */
}

.industrial__wrapp{
    width: 100%;
    padding: 30px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.industrial__wrapp_title, .industrial__wrapp_title-1{
    font-size: 45px;
    color: #FF5C00;
}
.industrial__wrapp_kit{
    display: flex;
}
.industrial__wrapp_title-2{
    font-size: 18px;
    color: #FF5C00;
}
.industrial__wrapp_text{
    font-size: 16px;
    line-height: 20px;
}
.industrial__line{
    width: 100%;
    height: 2px;
    background-color: #00000038;
}
.industrial__mix{
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}
.industrial__item{
    display: flex;
    gap: 30px;
    align-items: center;
}
.industrial__item_text{
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}
.industrial__item_img{
    width: 60px;
    height: 61px;
}